{%extends 'gabarit_page.html'%}
{% load filtre_perso%}
{% load static %}

{% block main%}


{% if AreYouSure %}
<div id="Filters_commit" class='first_block'>
    <div>
        <ul style="overflow: auto; height:50%; border: black 1px solid;">
            <li> number of article : {{number_article}} </li>
        </ul>

        <form action='' method='POST'>
            {%csrf_token%}
            <h3> Are sure with your parameters ? </h3>
            <input type='submit' name='submit' value='continue'>
            <input type='submit' name='submit' value='cancel'>
        </form>

    </div>
</div>
{% else%}

<div class='header'>
    <a href="/accueil" class='button' style='left:-30px;'> <button class='button' type=button> accueil </button> </a>
     
    <a  href="/user" class='button' style='right:100px;'> <button  type=button> user </button> </a>
    <a  href="/logout" class='button' style='right:0px;'> <button type=button> Logout </button> </a> 
</div>


<a href="/plot?research={{research_id}}" target="_blank" class="button"> <button type=button> fullscreen </button> </a>

<div class="row" style='width:100%; height:1000px;'>
    {% if False%}
    <div id="cluster_display" class="col-8 bloc" style='height:100%; background-color:rgba(0,0,0,0.8); overflow:scroll; position:relative;'>
        
        {% autoescape off %}
        {{cluster_list | cluster_display}}
        {% endautoescape %}
           
    </div>

    <div class="col-2">
        <div id="topic_display" class="row" style="overflow:auto; height: 800px ;">
            {% autoescape off %}
            {{cluster_list | topic_display}}
            {% endautoescape %}
            
        </div>
    </div>
    {% endif %}

    <div class="col-12" style="background-color:black;">
        <iframe srcdoc="{{plot_html}}" width=1800 height=950> </iframe>
    </div>

    <div id="article_details" class="col-2" style="position:relative;height:800px; overflow:auto; overflow-x:hidden; border: 2px black solid;visibility:hidden;">
        {%autoescape off%}
            {{article_list | article_display }}
        {%endautoescape%}
    </div>
</div>

<div id="Filters_Block" class="row" style="height:400px;margin:30px;">

    {% if False%}
    <div class="col-5" style="height:300px;background-color:rgba(0,255,0,0.6);margin:10px;">
        <h4> Author </h4>
        <label for='last_name'> last_name :</label>
        <input id='last_name' type='text' name='last_name' value=''>
        <br>
        <label for='first_name'> first_name: </label>
        <input id='first_name' type='text' name='first_name' value=''>
        <button type='button' onclick="submit_author()">submit</button>

        <h4> Keyword search</h4>
        <label for='keyword_search'> search </label>
        <input id='keyword_search' type='text' name='keyword_search' value=''>
        <button type='button' onclick="submit_keyword()">submit</button>

        <h4> Neighbour Article </h4>
        <label for='neighbour'> DOI Article </label>
        <input id='neighbour' type='text' name='neighbour' value=''>
        <button type='button' onclick="submit_neighbour()">submit</button>

        


    </div>
    
    <div id='filters' class="col-6" style="height:300px;background-color:rgba(0,0,255,0.6);margin:10px;padding:10px; overflow:auto;">
        <h4> Filters </h4>
        <div id="add_filter">
            <button  type='button' style="margin:auto;" onclick="add_filter()"> + </button>
        </div>
    </div>
    {% endif%}


    <div class="col-12 ,filtres" style="height:500px; position:relative; background-color:green">
        <div style="position:absolute; top:20px;">
            <select name="type_filter" id="type_filter" value="Topic" onchange="change_type_filter()" >
                <option value="Topic">Topic</option>
                <option value="Author">Author</option>
                <option value="Keyword">Keyword search</option>
                <option value="DOI">DOI</option>
            </select>
        </div>

        <div id="topic_input" style="visibility:visible;position:absolute;left:10%; top:20px;">
            <select id="topic_input_value" name="topics" style="float:left;">
                {% for t in list_topics%}
                    <option value="{{t}}">{{t}}</option>
                {% endfor%}
            </select>
            <button type="button" onclick="add_topic()" style="float:left;margin-left:10px;"> ADD </button>
        </div>

        <div id="author_input" style="visibility:hidden;position:absolute;left:10%; top:20px;">
            <input id="author_input_value" type="text" name="author_name" placeholder="author name"  style="float:left;">
            <button type="button" onclick="add_author()" style="float:left;margin-left:10px;"> ADD </button>
        </div>

        <div id="keyword_input" style="visibility:hidden;position:absolute;left:10%; top:20px;">
            <input id="keyword_input_value" type="text" name="keyword" placeholder="Keyword" style="float:left;">
            <button id="keyword_button" type="button" onclick="add_keyword()" style="float:left;margin-left:10px;"> ADD </button>
        </div>

        <div id="doi_input" style="visibility:hidden;position:absolute;left:10%; top:20px;">
            <input id="doi_input_value" type="text" name="doi" placeholder="DOI" style="float:left;">
            <button type="button" onclick="add_doi()" style="float:left;margin-left:10px;"> ADD </button>
        </div>

        <div id='filters' class="col-10" style="height:400px;background-color:rgba(0,0,255,1.0);position:absolute;top:70px; overflow:auto;">
            <div id="add_filter" style="margin:10px;">
                <button  type='button' style="margin:auto;" onclick="add_filter()"> + </button>
            </div>
        </div>
    </div>
   
</div>



 <form id="data_filter" action="" method="POST" style="position:absolute; width:14%;height:100px;right:10px;top:1050px;" >
        {% csrf_token %}
        <input type="number" name="research_id" value="{{research_id}}" hidden>
        <input type="submit" name="submit" value="generate">
    </form>

<script src={%static "script/select_functions.js"%}> </script>

{% if cancel%}
    {% autoescape off%}
    <script> {{filter_data | write_filter}} </script>
    {% endautoescape%}
{% endif%}
{%endif%}

{%endblock%}