{% extends 'gabarit_page.html' %}

{% block main%}
<div class='row'>
    <div class='col-6'>
        <div id='login' >
            <h2> Login </h2>
            <form action='' method='POST'>
                {% csrf_token %}
                {{login_form.as_p}}
                <input type='submit' name='submit' value='login'>
            </form>
        </div>
    </div>

    <div class='col-6'>
        <div id='sign'>
            <h2> Sign </h2>
            <form action='' method='POST'>
                {% csrf_token %}
                {{sign_form.as_p}}
                <input type='submit' name='submit' value='sign'>
            </form>
        </div>
    </div>
</div>
{% endblock%}