{%extends 'gabarit_page.html'%}
{% load filtre_perso%}
{% load static %}

{% block main%}


{% if AreYouSure %}
<div id="Filters_commit" class='first_block'>
    <div>
        <ul style="overflow: auto; height:50%; border: black 1px solid;">
            <li> number of article : {{number_article}} </li>
        </ul>

        <form action='' method='POST'>
            {%csrf_token%}
            <h3> Are sure with your parameters ? </h3>
            <input type='submit' name='submit' value='continue'>
            <input type='submit' name='submit' value='cancel'>
        </form>

    </div>
</div>
{% else%}

<div class='header'>
    <a href="/accueil" class='button' style='left:-30px;'> <button class='button' type=button> accueil </button> </a>
     
    <a  href="/user" class='button' style='right:100px;'> <button  type=button> user </button> </a>
    <a  href="/logout" class='button' style='right:0px;'> <button type=button> Logout </button> </a> 
</div>

<div class="row" style='width:100%; height:800px;'>
    <div id="cluster_display" class="col-8 bloc" style='height:100%; background-color:rgba(0,0,0,0.8); overflow:scroll; position:relative;'>
        
        {% autoescape off %}
        {{cluster_list | cluster_display}}
        {% endautoescape %}
           
    </div>
    <div class="col-2">
        <div id="topic_display" class="row" style="overflow:auto; height: 800px ;">
            {% autoescape off %}
            {{cluster_list | topic_display}}
            {% endautoescape %}
            
        </div>
    </div>
    <div id="article_details" class="col-2" style="position:relative;height:800px; overflow:auto; overflow-x:hidden; border: 2px black solid;visibility:hidden;">
        {%autoescape off%}
            {{article_list | article_display }}
        {%endautoescape%}
    </div>
</div>

<div id="Filters_Block" class="row" style="height:400px;margin:30px;">
    <div class="col-5" style="height:300px;background-color:rgba(0,255,0,0.6);margin:10px;">
        <h4> Author </h4>
        <label for='last_name'> last_name :</label>
        <input id='last_name' type='text' name='last_name' value=''>
        <br>
        <label for='first_name'> first_name: </label>
        <input id='first_name' type='text' name='first_name' value=''>
        <button type='button' onclick="submit_author()">submit</button>

        <h4> Keyword search</h4>
        <label for='keyword_search'> search </label>
        <input id='keyword_search' type='text' name='keyword_search' value=''>
        <button type='button' onclick="submit_keyword()">submit</button>

        <h4> Neighbour Article </h4>
        <label for='neighbour'> DOI Article </label>
        <input id='neighbour' type='text' name='neighbour' value=''>
        <button type='button' onclick="submit_neighbour()">submit</button>

    </div>
    <div id='filters' class="col-6" style="height:300px;background-color:rgba(0,0,255,0.6);margin:10px;padding:10px; overflow:auto;">
        <h4> Filters </h4>
        <div id="add_filter">
            <button  type='button' style="margin:auto;" onclick="add_filter()"> + </button>
        </div>
    </div>
   
</div>

 <form id="data_filter" action="" method="POST" style="position:absolute; width:14%;height:100px;right:10px;top:1050px;" >
        {% csrf_token %}
        <input type="number" name="research_id" value="{{research_id}}" hidden>
        <input type="submit" name="submit" value="generate">
    </form>

<script src={%static "script/select_functions.js"%}> </script>

{%endif%}

{%endblock%}