{% extends 'gabarit_page.html' %}
{% load filtre_perso%}
{%block main%}

{% if are_you_sure %}
<div id="Research_commit" class='first_block'>
    <div>
        <ul style="overflow: auto; height:50%; border: black 1px solid;">
            <li> search : {{search}} </li>
            <li> year_begin : {{year_begin}} </li>
            <li> year_end : {{year_end}} </li>
            <li> keywords :
                <ul>
                    {%for w in keywords%}
                    <li> {{w}} </li>
                    {% endfor%}
                </ul> 
            </li>
        </ul>

        <form action='' method='POST'>
            {%csrf_token%}
            <h3> Are sure with your parameters ? </h3>
            <input type='submit' name='submit' value='continue'>
            <input type='submit' name='submit' value='cancel'>
        </form>

    </div>
</div>
{% endif %}

<div class='row'>
    <div class='col-6'>
        <h3> New Research </h3>
        <div class='bloc'>
            <form action='' method='POST'>
                {% csrf_token %}
                {{research_form.as_p}}
                <input type='submit' name='submit' value='research'>
                <input type='submit' name='submit' value='evaluate'>
                {% if number_article %}
                <span> {{number_article}} articles estimated</span>
                {% endif %}
            </form>
        </div>
    </div>
    <div class='col-6'>
        <h3> Historical Research </h3>
        <div class='bloc'>
            <form action='' method='POST'>
                {% csrf_token %}
                {{historical_form.as_p}}
                <label for='sort_type'> sorting type </label>
                <select id='sort_type' name='sort_type' default='pertinence'>
                    <option value='pertinence'> pertinence </option>
                    <option value='article+'> article + </option>
                    <option value='article-'> article - </option>
                </select>
                <input type='submit' name='submit' value='historical'>
            </form>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-12'>
        <h3> Historical Research Listing </h3>
        <div class='bloc'>
            {% for research in research_list%}
                <ul>
                    {% autoescape off %}
                    <li> {{research | historical}} <a href="http://{{host}}/select?research_id={{research | get_first_param}}" > link </a></li> 
                    {% endautoescape %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock%}