{% extends 'gabarit_page.html' %}
{%block main%}
<div class='d-flex justify-content-end'>
    <a href="/user"> <button class='button' type=button> user </button> </a>
    <a href="/logout"> <button class='button' type=button> Logout </button> </a> 
</div>

<div class='row'>
    <div class='col-6'>
        <h3> New Research </h3>
        <div class='bloc'>
        </div>
    </div>
    <div class='col-6'>
        <h3> Historical Research </h3>
        <div class='bloc'>
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-12'>
        <h3> Historical Research Listing </h3>
        <div class='bloc'>
        </div>
    </div>
</div>


{% endblock%}