{% extends 'gabarit_page.html' %}
{% load filtre_perso%}
{% block main%}
    <a href="/accueil" > <button> research page </button> </a>

    

    <div class='row'>
        <div class='col-4'>
            <p> email : {{user.email}} </p>
        </div>
        <div class='col-2'>
            <p> last filtering research : <a href="table_choice?research_id={{research_id}}"> link </a> </p>
        </div>
        <form action="" method="POST">
            {%csrf_token%}
            <input type="submit" name="submit" value="delete_all"> 
        </form>
        <form action="" method="POST">
            {%csrf_token%}
            <input type="submit" name="submit" value="restart_fault"> 
        </form>
    </div>
    <div>
        {{id_check}} id_check {{is_running}}
    </div>

    <div class='row' style='overflow:auto'>
        <div class='col-12'>
            <h3> Running Research Listing </h3>
            <div class='bloc'>
                <form action='' method='POST'>
                {% csrf_token %}
                {% for research in research_step_article%}
                    <ul>
                        <form action='' method='POST'>
                            {% csrf_token %}
                            <li> 
                                &lt {{research.search}} &gt | step: "article: {{research.current_article_db}}" | progress: {{research | number_article }} / {{research.max_article}} articles 
                                <input type=hidden name="research_id" value={{research.id}} >
                                <input type=submit name=submit value="check"> 
                                {%if id_check == research.id%}
                                    <span> {{is_running}}</span>
                                {%endif%}
                                <input type=submit name=submit value="delete">
                            </li> 
                        </form>
                    </ul>
                {% endfor %}

                {% for research in research_step_processing%}
                    <ul>
                        <form action='' method='POST'>
                            {% csrf_token %}
                            <li> 
                                &lt {{research.search}} &gt | step: "processing articles" | progress: {{research | number_article_prepoc}} / {{research | total_article}} articles
                                <input type=hidden name="research_id" value={{research.id}} >
                                <input type=submit name=submit value="check">
                                {%if id_check == research.id%}
                                    <span> {{is_running}}</span>
                                {%endif%}
                                <input type=submit name=submit value="delete">
                            </li> 
                        </form>
                    </ul>
                {% endfor %}

                {% for research in research_step_clustering%}
                    <ul> 
                        <form action='' method='POST'>
                            {% csrf_token %}
                            <li> 
                                &lt {{research.search}} &gt | step: "clustering" | progress: {{research | number_trials}} / {{number_trials}} trials | best dbcv: {{research.best_dbcv}}
                                <input type=hidden name="research_id" value={{research.id}} >
                                <input type=submit name=submit value="check">
                                {%if id_check == research.id%}
                                    <span> {{is_running}}</span>
                                {%endif%}
                                <input type=submit name=submit value="delete">
                            </li> 
                        </form>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class='row' style='overflow:auto'>
        <div class='col-12'>
            <h3> Historical Research Listing </h3>
            <div class='bloc'>
                {% for research in research_finished%}
                    <ul>
                        
                        <li> &lt {{research.search}} &gt | {{research | number_article}} articles | best_dbcv : {{research.best_dbcv}} | time process {{research | time_research}} |<a href="select?research_id={{research.id}}" >  link </a></li> 
                        
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    
{%endblock%}