alembic
annoy
anyio
argon2-cffi
attrs
autopage
Babel
backcall
black
bleach
blis
bokeh
catalogue
certifi
cffi
charset-normalizer
click
cliff
cloudpickle
cmaes
cmd2
colorama
colorcet
colorlog
cycler
cymem
Cython
dask
datashader
datashape
debugpy
decorator
defusedxml
distributed
docstring-to-markdown
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints
fonttools
fsspec
funcy
future
gensim
gitdb
GitPython
greenlet
hdbscan
HeapDict
holoviews
idna
imageio
importlib-metadata
importlib-resources
inexactsearch
install
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isort
jedi
jedi-language-server
jellyfish
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-lsp
jupyter-resource-usage
jupyter-server
jupyter-server-mathjax
jupyterlab
jupyterlab-code-formatter
jupyterlab-git
jupyterlab-lsp
jupyterlab-pygments
jupyterlab-server
jupyterlab-system-monitor
jupyterlab-topbar
jupyterlab-widgets
kiwisolver
langcodes
langdetect
llvmlite
locket
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
msgpack
multipledispatch
murmurhash
mypy-extensions
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
notebook
numba==0.53.0
numexpr
numpy
optuna==2.10.0
packaging
pacmap
pandas
pandocfilters
panel
param
parso
partd
pathspec
pathy
pbr
pexpect
pickleshare
Pillow
platformdirs
pluggy
preshed
prettytable
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycocotools
pycparser
pyct
pydantic
pygls
Pygments
pyLDAvis
pynndescent
pyparsing
pyperclip
pyreadline3
pyrsistent
pyspellchecker
python-dateutil
python-jsonrpc-server
python-language-server
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
regex
requests
scikit-image
scikit-learn
scipy
seaborn
segtok
Send2Trash
setuptools-scm
silpa-common
six
sklearn
smart-open
smmap
sniffio
sortedcontainers
soundex
spacy
spacy-legacy
spacy-loggers
spellchecker
SQLAlchemy
srsly
stevedore
stop-words
tabulate
tblib
terminado
testpath
thinc
threadpoolctl
tifffile
tomli
toolz
tornado
tqdm
traitlets
typeguard
typer
typing-extensions
ujson
umap-learn
unicode
Unidecode
urllib3
wasabi
wcwidth
webencodings
websocket-client
widgetsnbextension
xarray
yake
zict
zipp





psycopg2_binary==2.9.3
uWSGI==2.0.20
pytest==7.0.0
coverage==6.3
django_oauth_toolkit==1.7.0

bs4

django

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl


gensim

hdbscan


joblib

langdetect

lxml

matplotlib

nltk

numpy==1.21

optuna==2.10.0

pacmap

pandas

PyPDF2


sklearn

spacy==3.2.0

scipy

pyspellchecker

stop_words

tqdm

unidecode


yake
