
psycopg2_binary==2.9.3
uWSGI==2.0.20
pytest==7.0.0
coverage==6.3
django_oauth_toolkit==1.7.0

bs4

django

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl


gensim

hdbscan


joblib

langdetect

lxml

matplotlib

nltk

numpy==1.21

optuna==2.10.0

pacmap

pandas

PyPDF2


sklearn

spacy==3.2.0

scipy

pyspellchecker

stop_words

tqdm

unidecode


yake
