
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl


gensim

joblib

langdetect

lxml

nltk

numpy

PyPDF2


sklearn

spacy==3.2.0

pyspellchecker

stop_words

tqdm

unidecode

